@config "../../../../tailwind.config.mjs";
@import 'tailwindcss';
@import 'ant-design-vue/dist/reset.css' layer(antd);

@layer antd, base, components, utilities;
@layer components {
  .ant-menu-light.ant-menu-root.ant-menu-inline,
  .ant-menu-light.ant-menu-root.ant-menu-vertical {
    border-inline-end: none !important;
  }
  :where(.css-dev-only-do-not-override-13gz7x).ant-btn {
    line-height: 0 !important;
  }
  :where(.css-dev-only-do-not-override-1p3hq3p).ant-btn {
    line-height: 0 !important;
  }
}
